#gameInterface, #dashboardInterface{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 100%;
  align-items: center;
}
#infoBox{
  width: min(500px, 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;
}
#infoBox .user{
  color: var(--sw);
  text-align: center;
}
#statBox{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
}
#statBox div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#statBox i{
  font-size: 1.5rem;
}
#statBox div:nth-child(1) i, #statistics div:nth-child(1) i{
  color: var(--green);
}
#statBox div:nth-child(2) i, #statistics div:nth-child(2) i{
  color: var(--red);
}
#statBox div:nth-child(3) i, #statistics div:nth-child(3) i {
  color: var(--pink);
}
#statBox div h3, #statistics h3{
  color: var(--grey);
}
#questionCount{
  color: var(--muted);
}
#score, #scoreText{
  color: var(--sw);
}
#questionContainer{
  width: min(500px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}
#question{
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
  "num1"
  "arithmetic"
  "num2";
}
#num1, #num2, #arithmetic{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
#forfeit{
  display: flex;
  flex-direction: row;
  color: var(--dim);
}
#timerContainer{
  display: flex;
  flex-direction: row;
  width: min(500px, 100%);
  align-items: center;
  justify-content: space-evenly;
}
#timerIcon, #timerCount{
  font-size: 1.25rem;
  color: var(--sw);
  text-align: center;
}
#timerBar{
  background: var(--empty);
  width: 75%;
  height: 2rem;
  border-radius: 100vw;
  position: relative;
}
#timeVolume{
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  position: absolute;
  left: 0;
}
#choicesContainer{
  width: min(500px, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.choice{
  height: min(225px, 40vw);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* dashboard */
#dbContent{
  width: min(500px, 100%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
}
#statistics{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 1rem;
}
#statistics div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#statistics i{
  font-size: 3rem;
}
#uName{
  color: white;
}
#playAgain{
  display: flex;
  gap: 1rem;
  width: min(400px, 100%);
  justify-content: center;
}
#playAgain h2{
  padding: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  color: var(--accent);
}
#backToMenuBtn{
  color: black!important;
  background: white;
}

/* interactions */
#playAgain h2:active{
  font-weight: bold;
}

@media(min-width: 500px){
  #infoBox{
    justify-content: space-between;
  }
}

@media(min-width: 500px){
  #question {
    grid-template-areas:
    "num1 arithmetic num2";
  }
}